:root {
  --main-color: #0046fc;
  --dark-headline: #0c121c;
  --dark-text: #1e293b;
  --light-text: #b8bfc6;
  --light-color: #b4cfee;
  --light-background: #ffffff;
  --border-color: #2b00b8;
}

/* Example usage of the color variable */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: var(--dark-text);
}

.h1,
h2,
h3,
h4 {
  color: var(--main-color);
}

.hr {
  color: var(--dark-headline);
}

.Header {
  box-shadow: #000000 0px 0px 5px;
  color: var(--light-background);
  padding: 10rem;
  text-align: center;
}

.auth-btn {
  border: none;
  padding: 0.2rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  width: 7rem;
  cursor: pointer;

  border-radius: 8px;
}

.footer {
  background-color: var(--dark-headline);
  color: var(--light-background);
  padding: 2rem;
  text-align: center;
  box-shadow: #0c121c 0px 0px 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Login.css */
.login-background,
.register-background {
  background-color: var(--main-color);
  box-shadow: #000000 0px 0px 10px;
  border-radius: 2rem;
}

.login-card {
  background-color: var();
  border-radius: 10px;
  box-shadow: #000000 0px 0px 0px;
  padding: 2rem;
  width: auto;
}

.login-card .btn-primary {
  background-color: #ffffff;
  color: #000000;
}
.login-card .form-label {
  color: #ffffff;
  font-size: 1.2rem;
}

.login-card .form-control {
  color: #000000;
}

.landing {
  background-color: var(--light-background);
  color: var(--dark-text);
  padding: 2rem;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Position on the left side */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Slightly lighter shadow for subtlety */
  padding: 10px 15px; /* Reduced padding for a smaller size */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Blue background */
  color: rgb(0, 17, 253); /* White text color for contrast */
  font-size: 14px; /* Smaller font size */
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Adjusting for smaller screen or specific alert types, if necessary */
@media (max-width: 600px) {
  .alert {
    width: calc(100% - 40px); /* Full-width on smaller screens with some padding */
    bottom: 10px;
    left: 10px;
    border-radius: 0; /* Optional: full-width alerts might look better with no border-radius */
  }
}
